* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h2 {
  text-align: center;
}
a {
  color: red;
}
.formbox {
  padding: 20px;
  background-color: #f2f2f2;
  margin: 20px;
}
.inp1{
  height: 40px;
  width: 490px;
  padding: 10px;
}
.forma {
  width: 50%;
  margin-bottom: 10px;
  justify-content: space-between;
  display: flex;
  padding-left: 10px;
  align-items: center;
}
.genderr{
    display: flex;
    padding-left: 10px;
    align-items: center;
    width: 50%;
    margin-bottom: 10px;
    display: flex;
    gap: 172px;
}
.gen{
   height: 15px;
}
.gend2{
    margin-left: -45px;
}
.check{
    margin-left: -50px;
}
button{
    background-color: #4caf50;
    color: white;
    height: 45px;
    width: 150px;
    border: none;
    border-radius: 5px;
}

